<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSRestaurante" />
                <binding name="BasicHttpBinding_IWSRepartidor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50939/WSRestaurante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSRestaurante"
                contract="WSRestaurante.IWSRestaurante" name="BasicHttpBinding_IWSRestaurante" />
            <endpoint address="http://localhost:56887/WSRepartidor.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWSRepartidor" contract="WSRepartidor.IWSRepartidor"
                name="BasicHttpBinding_IWSRepartidor" />
        </client>
    </system.serviceModel>
</configuration>